.section-wrap {
  background: var(--primary-color);
  font-family: var(--primary-font-family);

}

.titleSakura {
  transform-origin: center bottom;
  animation: Swaying 2s linear infinite;
  width: 22%;
}

@keyframes Swaying {

  0%,
  100% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }
}

.aboutContainer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;

  .aboutContainer-wrap {

    height: 26%;
    width: 17%;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    // border: 3px solid black;
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    aspect-ratio: 1/1;

    &:hover {
      opacity: .85;
    }

    .aboutImg {

      // font-size: 60px;
      // margin: 0 0 1rem 0;
      svg {
        font-size: 66px;
      }
    }

    .aboutTitle {
      font-size: clamp(13px, 14px, 26px);
      
    }


  }

}

.titleWrap {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 1.5rem auto;
  padding: 1rem;
}

// .section-wrap {
//   // background-image: url('../../public/images/bg.jpg');

// }

.SkillContainer {
  width: 80%;
  min-height: 600px;
  border: 3px solid pink;
  margin: 90px;
}




.skill-graph {
  width: 80%;
  margin: 4% auto 0 auto;
}

.skill-bar {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.skill-name {
  flex: 1;
  font-size: 24px;
}

.bar-container {
  flex: 3;
  background-color: #fff;
  height: 20px;
  border-radius: 8px;
  margin: 0 16px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: var(--pink-color);

}

.percentage {
  flex: 1;
  font-size: 24px;
}

/*smartphone */
@media screen and (max-width: 599px) {
  .aboutContainer {
    .aboutContainer-wrap {
      .aboutTitle {
        // margin: 0;
        font-size: 13px;
      }

      .aboutImg {
        svg {
          font-size: 26px;
        }
      }
    }
  }


}