.Footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, #aef3ffe0, #558eff);
  // background-image: url('../../public/images/bgImg.jpg');
  // background-position: center center;
  // padding: 0 3rem;



.FooterLogo{
  cursor: pointer;
  padding: 0 10px;

  &:active {
    transform: scale(0.95); 
    opacity: 0.8; 
  }
}

.FooterComponent{
  .FooterNav {
    display: flex;
    gap: 6rem;
    padding-left: 7rem;
    
    a {
      .FooterNavOption{
        &:active {
          transform: scale(0.95); 
          opacity: 0.8; 
        }
      }
    }
  }
}




.Footer-icons-links-wrap {
  display: flex;
  gap: 1rem;

  .Footer-links-img {
    max-width: 33px;
    max-height: 33px;
   &:hover{
    opacity: 0.6;
   }
  }
}


}

/*smartphone */
@media screen and (max-width: 599px) {
.Footer-wrap{
  .Footer-icons-links-wrap{
    gap: .3rem;
    .Footer-links-img{
      width: 15px;
      height: auto;
    }
  }
  .FooterComponent{
    .FooterNav{
      gap: 1.6rem;
      padding: 0;
    }
  }
}

}