* {
  @import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: auto;
  height: auto;
  overflow-x: hidden;


}

body{

//  /*--------------custom scrollbar----------------*/
//  ::-webkit-scrollbar {
//   width: 15px;
// }
// ::-webkit-scrollbar-track {
//   background: #d1e5ff;
// }

// ::-webkit-scrollbar-thumb {
//   // background: linear-gradient(#edaccfba, #e96196);
//   background: linear-gradient(#ff84a0d7, #e96196);
//   border-radius: 10px;
// }

///////////////////////////////////////////// 
 //----------font-size---------------------//
 ///////////////////////////////////////////// 
--font-size-XS:13px;
--font-size-S:14px;
--font-size-M:16px;
--font-size-L:18px;
--font-size-XL:20px;

 ///////////////////////////////////////////// 
 //----------font-color---------------------//
 ///////////////////////////////////////////// 
 --primary-color: #86ccff;
//  --primary-color: #52aaea;
 --secondary-color: #fff4f4;
 --pink-color: rgb(255, 183, 195);
 --black-color: #101010;

 ///////////////////////////////////////////// 
//----------font-family---------------------//
///////////////////////////////////////////// 
 --primary-font-family: "Italiana";
--mv-font-family:"Caveat"

}


.sectionInner{
  width: 66%;
  height: auto;
  margin: 0 auto;
}