.HeaderContainer {
  // background-color: linear-gradient( 126deg, rgb(20 79 255 / 96%) 0%, rgb(85 133 205) 96% );
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  background: linear-gradient(45deg, #aef3ffe0, #558eff);
  background-position: top bottom;

  .HeaderLogo {
    &:active {
      transform: scale(0.95);
      opacity: 0.8;
    }
  }

  .HeaderComponent {
    padding: 0 10px;
    cursor: pointer;

    .HeaderNav {
      list-style: none;
      display: flex;
      // padding: 0 5rem 0 0 ;
    }

    .HeaderNavOption {
      // 
      margin: 0 20px;
      // color: white;
      font-size: 20px;
      text-decoration: none;
      color: black;

      &:active {
        transform: scale(0.95);
        opacity: 0.8;
      }
    }

  }

  .menuIcon {
    display: none;
  }

  .HeaderDrawer{
    display: none;
  }

}

/* tablet */
@media screen and (max-width: 959px) {
  .HeaderContainer {
    .HeaderComponent{
      display: none;
    }

    .menuIcon {
      display: block;
      font-size: 33px;
      padding-right: 15px;
    }

    .HeaderDrawer{
      display: block;
      position: fixed;
      
      height: calc(100vh - 70px);
      top: 0;
      right: 0;
      margin-top: 70px;
      background-color: black;
      width: 33vw;
      display: flex;
      flex-direction: column;

      .DrawerOption{
        font-size: 30px;
        margin: 10px 0;
        cursor: pointer;

        text-decoration: none;
        color: white;

      }
    }
  }
}

/*smartphone */
// @media screen and (max-width: 599px) {
//   .HeaderContainer {
//     .menuIcon {
//       font-size: 23px;
//     }
//   }
// }



// /* pc */
// @media only screen and (min-width: 960px) {

// }