@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  // font-family: 'Poppins', sans-serif;
  max-width: 1920px;
  height: auto;
  overflow-x: hidden;
  --primary-color: #2FC4B2;
  --secondary-color: #F5FFF4;
  --tertiary-color: #FA8072;
  --pink-color: pink;

  --header-height: 60px;

  --font-family-main: 'Josefin Sans', sans-serif;
  
}


.mainVisual-wrap {
  background-color: var(--primary-color);
  margin: var(--header-height) auto 0;
  padding: 0 4rem 2rem 4rem;
  
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: space-between;
  // flex-direction: column;

  .mv-left{
    .icons-links-wrap{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // align-items: space-between;

      .links-img {
        padding: 40% 0;
        max-width: 66px;
        font-size: 66px;
        cursor: pointer;
        color: black
      }
    }

    
  }

  .mv-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 13rem;
    gap: 1rem;
    margin-bottom: 6rem;

    font-family: 'Just Me Again Down Here', cursive;
    color: #fff;
    text-align: center;
    
    .mv-h1 {
      font-size: 67px;
    }
    .mv-h2 {
      font-size: 33px;
    }

    .mv-me {
      max-width: 600px;
      height: auto;
    }

  }

  .mv-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;

    .mv-p {
      font-family: var(--font-family-main);
      font-weight: 400;
      font-size: 16px;
      line-height: 3rem;
    }

    .btn-view {
      width: 183px;
      height: 82px;
      background-color: #F5FFF4;
      color: #2C2929;
      // position: absolute;
      // bottom: 23%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }  
}


//Footer

.footer {
  background-color: #2FC4B2;
  display: flex;
  justify-content: flex-start;
  gap: 25%;
  align-items: flex-end;
  // padding-bottom: 2rem;
  padding: 0 4rem 2rem 4rem;
}

.section{
  width: 100%;
  display: flex;
  padding: 20px 0;
}

