.section-wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.worksContainer {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .workContainer-wrap {
    min-height: 430px;
    margin: 10px;
    border-radius: 1rem;

    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .workImage {
      margin: 15px;
      max-width: 100%;
      max-height: 230px;
      border: 1px solid black;
      border-radius: 1rem;
    }

    .workTitle {
      font-size: 25px;
    }

    .workExplanation {
      font-size: 16px;
      font-weight: 800;
      font-family: serif;
    }

    .workButtons {
      margin: 20px;
      font-size: 25px;

      .workButton {
        margin: 0 15px;
      }
    }

    .workButtons:hover{
      opacity: .6;
    }
  }
}

/*smartphone */
@media screen and (max-width: 599px) {
  .worksContainer {
    display: block;
  }
}